.footer{
    text-align: center;
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    color: #eaeaea;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    .title a {     
        text-decoration: none;
    }
  }