*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

html, body{
    height: 100%;
    box-sizing: border-box;
}

header{
    clear: both;
    box-shadow: 7px 0px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1023px) {
    .sectbi,
    .secttri,
    .sidebar{    
        width: 100%;      
    }
}

.sectbi,
.secttri,
.sidebar{    
    height: 100vh;
    float: left;  
    word-wrap: break-word;        
}


.accordion-button h6::after {
   content: url("../public/iconeminus.svg") !important;
   display: inline-block; /* Garante que o elemento seja exibido como um bloco, para que possamos ajustar sua posição vertical */
    position: relative; /* Define a posição como relativa para que possamos usar top */
    top: 5px; 
    left: 7px;
} 


.accordion-button.collapsed h6::after {
    content: url("../public/iconeplus.svg") !important;  
    display: inline-block; /* Garante que o elemento seja exibido como um bloco, para que possamos ajustar sua posição vertical */
    position: relative; /* Define a posição como relativa para que possamos usar top */
    top: 2px;
    left: 7px; 
}

.accordion-button h6::after,
.accordion-button.collapsed h6::after{
    transform: rotate(0deg);
    transition: transform 0.3 ease;
}

.accordion-button.collapsed h6::after{
    transform: rotate(-180deg);
}


.sidebar{
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: initial;
    background-color: white;
    margin-top: 0.8em;
}

footer{
    width: 100vw;
    text-align: center;
    background-color: aliceblue;
    padding: 1.2em;
    clear: both;
}

.hidden{
    display: none;
}

